// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
/** ---------------F1 Color Start----------------- **/
.ion-color-f1 {
    /** f1 **/
    --ion-color-base: #d41200;
    --ion-color-base-rgb: 212, 18, 0;
    --ion-color-contrast: #FFFFFF;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #a10300;
    --ion-color-tint: #a10300;
}

.ion-color-merc {
    /** merc **/
    --ion-color-base: #00D2BE;
    --ion-color-base-rgb: 0, 210, 190;
    --ion-color-contrast: #FFFFFF;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #00bdab;
    --ion-color-tint: #00bdab;
}

.ion-color-ferrari {
    /** ferrari **/
    --ion-color-base: #DC0000;
    --ion-color-base-rgb: 220, 0, 0;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #cc0000;
    --ion-color-tint: #cc0000;
}

.ion-color-redBull {
    /** redBull **/
    --ion-color-base: #1E41FF;
    --ion-color_base-rgb: 30, 65, 255;
    --ion-color-contrast: #FFFFFF;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1935cf;
    --ion-color-tint: #1935cf;
}

.ion-color-renault {
    /** renault **/
    --ion-color-base: #FFF500;
    --ion-color-base-rgb: 255, 245, 0;
    --ion-color-contrast: #FFFFFF;
    --ion-color-constrast-rgb: 255, 255, 255;
    --ion-color-shade: #ded500;
    --ion-color-tint: #ded500;
}

.ion-color-mclaren {
    /** mclaren **/
    --ion-color-base: #00D2BE;
    --ion-color-base-rgb: 255, 135, 0;
    --ion-color-contrast: #FFFFFF;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #e37902;
    --ion-color-tint: #e37902;
}

.ion-color-haas {
    /** haas **/
    --ion-color-base: #F0D787;
    --ion-color-base-rgb: 240, 215, 135;
    --ion-color-constrast: #FFFFFF;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #c4af6a;
    --ion-color-tint: #c4af6a;
}

.ion-color-alphaR {
    /** alphaR **/
    --ion-color-base: #9B0000;
    --ion-color-base-rgb: 155, 0, 0;
    --ion-color-contrast: #FFFFFF;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #780101;
    --ion-color-tint: #780101;
}

.ion-color-TR {
    /** TR **/
    --ion-color-base: #F596C8;
    --ion-color-base-rgb: 70, 155, 255;
    --ion-color-contrast: #FFFFFF;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #367ac9;
    --ion-color-tint: #367ac9;
}

.ion-color-williams {
    /** williams **/
    --ion-color-base: #FFFFFF;
    --ion-color-base-rgb: 255, 255, 255;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #c4c4c4;
    --ion-color-tint: #c4c4c4;
}

.ion-color-RP {
    /** RP **/
    --ion-color-RP: #F596C8;
    --ion-color-RP-rgb: 245, 150, 200;
    --ion-color-RP-contrast: #FFFFFF;
    --ion-color-RP-contrast-rgb: 255, 255, 255;
    --ion-color-RP-shade: #d67cac;
    --ion-color-RP-tint: #d67cac;
}
