<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="dark">
        <ion-title class="ProfileHeader">
            Profile Page
        </ion-title>
        <ion-row stlye="height: 10px">

        </ion-row>
    </ion-card>
    <ion-card>
        <ion-title text-align="left">
            Username
        </ion-title>
            <ion-item>
                <ion-text text-align="left">
                    Favorite Team: Ferrari
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-text text-align="left">
                    Favorite Driver: Charles Leclerc
                </ion-text>
            </ion-item>
    </ion-card>
    <ion-row style="height: 10px">

    </ion-row>
    <ion-card>
        <ion-title>
            Statistics
        </ion-title>
        <ion-item>
            <ion-text>
                Weekend Points:
            </ion-text>
            <ion-text>
                500
            </ion-text>
        </ion-item>
        <ion-item>
            <ion-text>
                Season Points:
            </ion-text>
            <ion-text>
                5300
            </ion-text>
        </ion-item>
        <ion-item>
            <ion-text>
                All-Time Points:
            </ion-text>
            <ion-text>
                15600
            </ion-text>
        </ion-item>
    </ion-card>
</ion-content>
